<ng-container [formGroup]="form">
  <cs-alert variant="error" *ngIf="componentError">
    {{ componentError }}
  </cs-alert>

  <div class="component-block__loading" *ngIf="componentLoading">
    <cs-spinner size="md"></cs-spinner>
    <span>載入頁面組件欄位...</span>
  </div>

  <ng-container
    *ngIf="
      !componentLoading &&
      selectedComponent &&
      componentValues as componentForm;
      else componentEmptyTpl
    "
  >
    <div class="component-fields" [formGroup]="componentForm">
      <div class="component-field" *ngFor="let field of componentFieldConfigs">
        <div class="component-field__header">
          <h4>{{ field.label }}</h4>
          <span
            class="component-field__meta"
            *ngIf="field.type === 'property' && field.propertyList.length"
          >
            屬性：{{ field.propertyList.join('、') }}
          </span>
        </div>

        <ng-container [ngSwitch]="field.type">
          <cs-input
            *ngSwitchCase="'text'"
            [formControlName]="field.key"
            [label]="field.label"
            placeholder="請輸入內容"
          ></cs-input>

          <cs-textarea
            *ngSwitchCase="'textarea'"
            [formControlName]="field.key"
            [label]="field.label"
            [rows]="4"
            placeholder="請輸入內容"
          ></cs-textarea>

          <cs-textarea
            *ngSwitchCase="'richtext'"
            [formControlName]="field.key"
            [label]="field.label"
            [rows]="6"
            placeholder="支援 HTML 片段"
          ></cs-textarea>

          <cs-input
            *ngSwitchCase="'link'"
            [formControlName]="field.key"
            [label]="field.label"
            placeholder="https://example.com"
          ></cs-input>

          <cs-input
            *ngSwitchCase="'button'"
            [formControlName]="field.key"
            [label]="field.label"
            placeholder="請輸入按鈕文字"
          ></cs-input>

          <cs-image-upload
            *ngSwitchCase="'image'"
            [formControlName]="field.key"
            [label]="field.label"
          ></cs-image-upload>

          <ng-container *ngSwitchCase="'property'">
            <ng-container *ngIf="propertyArray(field) as propertyList">
              <div class="component-property__header">
                <span class="component-field__meta">
                  共 {{ propertyList.length }} 組
                </span>
                <cs-button
                  variant="ghost"
                  type="button"
                  (click)="handleAddComponentProperty(field.key)"
                >
                  新增一組
                </cs-button>
              </div>

              <div class="component-property__list" [formArrayName]="field.key">
                <div
                  class="component-property__item"
                  *ngFor="let group of propertyList.controls; let i = index"
                  [formGroupName]="i"
                >
                  <div class="component-property__inputs">
                    <cs-input
                      *ngFor="let attribute of propertyAttributes(field)"
                      [formControlName]="attribute"
                      [label]="attribute"
                    ></cs-input>
                  </div>
                  <cs-button
                    variant="text"
                    type="button"
                    (click)="handleRemoveComponentProperty(field.key, i)"
                    [disabled]="propertyList.length <= 1"
                  >
                    移除
                  </cs-button>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>

      <div class="component-field component-field--empty" *ngIf="!componentFieldConfigs.length">
        <span>此頁面組件尚未定義欄位。</span>
      </div>
    </div>
  </ng-container>

  <ng-template #componentEmptyTpl>
    <div class="component-block__empty">
      <span>請先選擇頁面組件。</span>
    </div>
  </ng-template>
</ng-container>
